
html,body{
	font-family: sans-serif;
	margin:0px;
}

#socialBar{
	width:100%;
	height:50px;
	background-color:rgba(72,72,72,1);
	position:fixed;
	z-index:100;
}

.social{
	height:40px;
	z-index:100;
	padding:5px;
	float:right;
}

#logoJM{
	color:white;
	font-size:30pt;
	display:inline-block;
	margin-top:3px;
}

.logoJM{
	color:white;
	margin-left:5px;
	font-weight:bold;
}


nav{

}

nav ul{
	width:100%;
	margin-top:50px;
	list-style:none;
	float:left;
	background:rgb(208,208,208);
	position:fixed;	
}

nav ul li{
	color:rgb(72,72,72);
	font-size:10pt;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
	float:left;
}

a{
	text-decoration:none;
	color:rgb(72,72,72);
}

a:hover{
	color:white;
}

h1{
	font-size:20pt;
	text-align:center;
	letter-spacing:10pt;
	color:grey;
}

.clearfix{
	clear:both;
}


h3{
	margin-left:40px;
	float:left;
}

img{
	display:inline-block;
	float:left;
}

.thumb{
	margin-top:20px;
	height:250px;
	margin-left:40px;
	padding-right:10px;
	float:left;
}

footer{
	font-size:10pt;
	text-align:center;
	padding-top:50px;
	padding-bottom:20px;
}


/*////////////////about.html////////////////*/
#containerAbout{
	width: 1200px;

	border:solid 5px red;
}

.About{
	display:inline-block;
	width:100%;
}

#sideLeft{
	width:30%;
	margin-top:110px;
	height:800px;
	float:left;
}

#sideRight{
	width:60%;
	height:800px;
	margin-top:100px;
	padding-right:60px;
	padding-left:60px;
	float:left;
}

p.resume{
	width: 100px;
	color:rgb(72,72,72);
}

/*//////////////////portfolio.html//////////////////*/
#portfolioWrap{
	width:1200px;
	padding-top:80px;
	margin: 0px auto;
}